/* Color palette
-----------------------------------------------------------------------------*/

$blue: #007BE4 !default;
$indigo: #6610f2 !default;
$purple: #7071C5 !default;
$pink: #e83e8c !default;
$red: #D0021B !default;
$orange: #fd7e14 !default;
$yellow: #FFBD0A !default;
$green: #25CB55 !default;
$teal: #20c997 !default;
$cyan: #17a2b8 !default;
$gray-100: hsl(0, 0, 90);
$gray-200: hsl(0, 0, 80);
$gray-300: hsl(0, 0, 70);
$gray-400: hsl(0, 0, 60);
$gray-500: hsl(0, 0, 50);
$gray-600: hsl(0, 0, 40);
$gray-700: hsl(0, 0, 30);
$gray-800: hsl(0, 0, 20);
$gray-900: hsl(0, 0, 10);

/* Tesla Colors
-----------------------------------------------------------------------------*/

$tsl-blue: #007BE4 !default;
$tsl-purple: #7071C5 !default;
$tsl-red: #D0021B !default;
$tsl-yellow: #FFBD0A !default;
$tsl-green: #25CB55 !default;
$tsl-black: #000 !default;
$tsl-white: #fff !default;
$tsl-dark: $gray-800 !default;
$theme-colors: ( "tsl-blue": $tsl-blue, "tsl-purple": $tsl-purple, "tsl-red": $tsl-red, "tsl-yellow": $tsl-yellow, "tsl-green": $tsl-green, "tsl-black": $tsl-black, "tsl-white": $tsl-white, "tsl-dark": $tsl-dark);

/* Screen
-----------------------------------------------------------------------------*/

$screen_width: 1080px;
$screen_height: 1920px;
$screen_width--fluid: 100% !default;
$screen_height--fluid: 100vh !default;

/* Element Colors
-----------------------------------------------------------------------------*/

$screen-bg: $gray-900;
$body-bg: lighten($screen-bg, 10%);
$body-color: $gray-500;
$hover-color: $gray-500;
$jumbotron-bg: $gray-800;
$border-color: $gray-400;

/* Fonts
-----------------------------------------------------------------------------*/

$font-size-base: 0.8rem;
$font-family-sans-serif: Montserrat;

/* Misc
-----------------------------------------------------------------------------*/

$border-radius-sm: 30px;
$btn-border-radius: 40px;
$input-btn-padding-x: 30px;

/* Do the Import
-----------------------------------------------------------------------------*/

@import "node_modules/bootstrap/scss/bootstrap";

/* Buttons
-----------------------------------------------------------------------------*/

.btn {
    border-color: $body-color;
    color: $body-color;
    background-color: transparent;
    padding-left: 2rem;
    padding-right: 2rem;
    text-transform: uppercase;
}

.btn:hover {
    border-color: $body-color;
    color: #fff;
    background-color: $hover-color;
}

.btn.is-active {
    background-color: $hover-color !important;
    color: #fff !important;
}


/* Buttongroups
-----------------------------------------------------------------------------*/

.btn-group .btn {
    color: $border-color;
    background-color: $gray-800;
    border-color: $gray-800;
}


/* Basic Rules
-----------------------------------------------------------------------------*/

h2 {
    margin-bottom: 2rem;
}

.container+.container {
    margin-top: 3rem;
}
